<div class="header">
    <div class="headerfixed">
    <div class="topbar">
        use coupon <span class="code">DMSALE30</span> for 30% off &hearts;
    </div>

    <div class="mainbar">
        <logo></logo>
        <div class="menu">
            <a routerLink="/store/history" routerLinkActive="active">history</a>
            <a routerLink="/store/products" routerLinkActive="active">products <i class="fas fa-chevron-down"></i></a>
            <a href="/store/sale">sale</a>

            <div class="cart">
            <a routerLink="/store/cart" routerLinkActive="active">
                <i class="fas fa-shopping-cart"></i> $<span id="total">0.00</span>
            </a></div>

        </div>
    </div>
    </div>
</div>